* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content-container {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 252/var(--tw-bg-opacity));
    flex-direction: column;
    display: flex;
    height: calc(100vh - 100px);
    padding: 10vh 10vw;
}

.navbar-create {
    padding-left: 0;
    padding-right: 0;
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 252/var(--tw-bg-opacity));
    width: 100%;
    height: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 15px;
}

.nav-content {
    border-left-width: 1px;
    border-right-width: 1px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(203 213 225/var(--tw-border-opacity));
    border-style: solid;
    border-top-width: 0;
    border-width: 1px;
    justify-content: space-between;
    align-items: center;
    max-width: 48rem;
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.nav-content a {
    text-decoration: none;
}

.btn-back {
    cursor: pointer;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    border: 0;
    background: none;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 0;
}

.btn-back i {
    font-size: 1.6rem;
    fill: #0f172a;
    overflow: hidden;
    vertical-align: middle;
}

.finished-question {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 0.5rem;
    display: flex;
    align-items: center;
    /* Align vertically centered */
}

.finished-save {
    font-size: 1rem;
    /* Increase font size for better readability */
    padding: 0.5rem 1rem;
    /* Simplified padding */
    background-color: #206fa4;
    /* Use the green color */
    color: #fff;
    /* White text color */
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, opacity 0.3s ease;
}

.finished-save:hover {
    background-color: rgb(49, 119, 199);
    /* Slightly darker green on hover */
    transform: scale(1.05);
    opacity: 1;
    /* Full opacity on hover */
}

.finished-text {
    font-weight: bold;
    /* Bold text */
}

.link-and-image {
    border-left-width: 1px;
    border-right-width: 1px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(203 213 225/var(--tw-border-opacity));
    border-style: solid;
    border-top-width: 0;
    gap: 1rem;
    align-items: center;
    max-width: 576px;
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.link-and-image {
    font-size: 1.4rem;
}

.btn-link,
.btn-img {
    cursor: pointer;
    padding: 0.25rem;
    border: 0;
    background: none;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 0;
}

.content-create {
    --tw-border-opacity: 1;
    border-color: rgb(203 213 225/var(--tw-border-opacity));
    border-style: solid;
    border-top-width: 0;
    border-bottom-width: 0;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    overflow: auto;
    flex: 1 1 0%;
    max-width: 48rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.content-qna {
    --tw-border-opacity: 1;
    border-color: rgb(203 213 225/var(--tw-border-opacity));
    border-style: solid;
    border-top-width: 0;
    /* border-bottom-width: 0; */
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    overflow: auto;
    flex: 1 1 0%;
    max-width: 48rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.content-main {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    flex-direction: column;
    max-width: 576px;
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.qna-sharing {
    gap: 0.75rem;
    justify-content: flex-end;
    flex-direction: row;
    display: flex;
}

.content-sharing {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 0;
}

.input-sharing {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(203 213 225/var(--tw-border-opacity));
    border-style: solid;
    border-width: 1px;
    border-radius: 0.125rem;
    appearance: none;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    user-select: none;
    flex-shrink: 0;
    height: 1.2rem;
    width: 1.2rem;
    --tw-shadow: 0 0 #0000;
}

.text-sharing {
    --tw-text-opacity: 1;
    color: rgb(100 116 139/var(--tw-text-opacity));
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.content-title {
    flex-direction: column;
    display: flex;
}

.content-title-content,
.btn-cancel {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    gap: 0.5rem;
    align-items: center;
    display: flex;
}

.content-title-content i {
    font-size: 1.4rem;
    color: #cbd5e1;
    overflow: hidden;
    vertical-align: middle;
}

.content-title-text {
    --tw-text-opacity: 1;
    color: rgb(203 213 225/var(--tw-text-opacity));
    line-height: 1.5;
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
}

.content-title-content:hover i,
.content-title-content:hover p {
    color: #94A3B8;
}

.char-counter {
    color: #cbd5e1;
}

.cancel-section.hidden {
    display: none;
}

.title.hidden {
    display: none;
}

.title {
    resize: none;
    border: 0;
    overflow: auto;
    height: 54px;
    caret-color: #0e6371;
    --tw-text-opacity: 1;
    color: rgb(15 23 42/var(--tw-text-opacity));
    line-height: 1.5;
    font-weight: 700;
    font-size: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    width: 100%;
}

.cancel-section {
    gap: 0.5rem;
    align-items: center;
    display: flex;
    font-size: 1.4rem;
    justify-content: space-between;
}

.btn-cancel:hover p {
    color: #94A3B8;
}


#description {
    vertical-align: text-top;
}

.content-description {
    height: 100%;
    /* Adjust the height based on your preference */
    resize: vertical;
    /* Allow vertical resizing */
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
}

.title {
    height: 42px;
    /* Adjust the height based on your preference */
    resize: none;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
}

.content-split {
    height: 1.4rem;
    border-bottom: 1px solid #eeeeee;
}