/* Global Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    background: #008489;
}

/* Header Brand Styles */
.header-brand {
    padding: 0 50px;
}

/* Personal Auth Styles */
.personal-auth {
    margin: 0 30px;
}

/* Slide Loader Styles */
.slide-loader {
    display: flex;
    padding: 10px;
    background: #41a69a;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

/* Carousel Image Styles */
.carousel-inner>.carousel-item>img {
    width: 640px;
    height: 360px;
    overflow: hidden;
    border-radius: 10px;
}

/* Features Container Styles */
.features {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Features Item Styles */
.features-item {
    margin-bottom: 30px;
    border-radius: 20px;
}

/* Feature Card Styles */
.feature-card {
    width: 38rem;
    height: 14rem;
}

/* Feature Content Styles */
.feature-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Feature Image Styles */
.feature-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Body Styles */
.body {
    border-radius: 20px;
}