/* Center the content and add some spacing */
.search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #f5f7fa;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.user-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: auto;
}

.user-item {
    font-size: 1.2rem;
    color: #333;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.user-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f2f6ff;
    transform: scale(1.05);

}

.user-details {
    flex: 1;
    margin-left: 10px;
}

.user-name {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.user-email {
    color: #777;
    margin-bottom: 5px;
}

.no-results {
    font-size: 1.1rem;
    color: #777;
    text-align: center;
    margin-top: 20px;
}

.profile-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    width: in;
    transition: background-color 0.3s, transform 0.2s;
}

.profile-button:hover {
    background-color: #0077b3;
    transform: scale(1.05);
}
