/* root */
:root {
    --grey: #94a3b8;
}

/* Reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Styles */
html,
body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, system-ui, Roboto,
        "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
        "Malgun Gothic", sans-serif;
    font-size: 12px;
}

.logo {
    background: url('../img/logo.svg') no-repeat center;
    height: 24px;
    width: 94px;
}

nav>ul>* {
    display: inline-block;
}

nav {
    height: 55px;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: baseline;
}

.nav-item {
    padding: 0 8px;
    align-self: center;
}

#navbar {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid lightgray;
}

.nav-link {
    font-weight: 500;
    text-decoration: none;
    padding: 16px 0;
    color: black;
}

.active {
    font-weight: 500;
    text-decoration: none;
    border-bottom: 3px solid orange;
    bottom: 0;
}

.nav-link:visited {
    font-weight: 500;
    color: grey;
    text-decoration: none;
}

.nav-link:hover {
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.search-btn {
    background: url("../img/search-icon.svg") no-repeat center;
    height: 24px;
    width: 24px;
    border: none;
    cursor: pointer;
}

.acc-menu-btn {
    background: url("https://careerly.vn/_next/image?url=%2F_next%2Fstatic%2Fimages%2Fimg_profile-dummy-f39ccb87481ab4a70525a9d2d461307d.png&w=48&q=75") no-repeat center;
    background-size: contain;
    height: 36px;
    width: 36px;
    border: 1px solid lightgray;
    cursor: pointer;
    border-radius: 100%;
}

#search-div {
    background-color: white;
}

.search-box {
    padding: auto;
    height: 125px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    margin: auto;
}

.search-box .search-input {
    font-size: x-large;
    line-height: 1.5;
    width: 600px;
    border: none;
}

input[type="text"]:focus-visible {
    outline: none;
}

#collapse-search-div {
    display: block;
    width: 100%;
    border-top: 1px solid lightgray;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}

header {
    z-index: 99;
    position: fixed;
    background: #fff;
}

body {
    height: 1000px;
}

#content {
    display: block;
    height: 100vh;
    padding: 0;
    display: flex;
    justify-content: center;
}

main {
    flex: 1;
    box-sizing: border-box;
    padding: 20px;
    max-width: 800px;
}

.sidebar {
    flex-basis: 300px;
    background-color: #f8f9fa;
    padding: 20px;
}

.fw-600 {
    font-weight: 600;
}

.bold {
    font-weight: bold;
}

.article-header {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.d-flex {
    display: flex;
}

.justify-content-start {
    justify-content: start;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-center {
    justify-content: center;
}

.article-tag,
.article-options,
.hash-tag {
    align-items: center;
}

.article-tag {
    border-radius: 4px;
    padding: 8px;
    background: rgb(241, 245, 249);
}

.p-1 {
    padding: 1rem;
}

.h-1 {
    font-size: 2em;
    font-weight: bold;
}

.grey-text {
    color: var(--grey);
}

.article-author {
    align-items: center;
}

.avatar img {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border: 1px var(--grey) solid;
    border-radius: 100%;
    object-fit: contain;
}

.author-name {
    line-height: 1.5rem;
}

.date-post {
    font-weight: 200;
    line-height: 1.5rem;
}

.h-100 {
    height: 100%;
}

.author-info {
    box-sizing: border-box;
    margin-left: 0.75rem;
}

.article-content>p {
    line-height: 30px;
}

.article-hashtags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.article-hashtags a:visited {
    text-decoration: none;
    color: black;
}

.hash-tag {
    border-radius: 12px;
    border: 1px solid rgb(226 232 240);
    padding: 0.5rem;
    text-decoration: none;
}

.hash-tag svg,
.up-down-vote svg {
    fill: var(--grey);
}

.hash-tag:hover {
    background: rgb(241, 245, 249);
    text-decoration: none;
}

.hash-tag:visited {
    text-decoration: none;
}

.up-down-vote {
    align-items: center;
}

.up-down-vote button {
    padding: 1rem;
    width: 8rem;
    background-color: #fff;
    border: var(--grey) 1px solid;
}

.up-down-vote span {
    line-height: 2rem;
    font-size: 1.5rem;
}

.up-vote {
    border-radius: 2rem 0 0 2rem;
}

.down-vote {
    border-radius: 0 2rem 2rem 0;
}

.up-vote,
.down-vote {
    justify-content: space-evenly;
    height: 4rem;
}

.font-thin {
    font-weight: 400;
}

.vote-guide {
    background: #f1f5f9;
}

.vote-guide p {
    margin-top: 0.5rem;
    font-size: 14px;
    line-height: 2rem;
}

.guide-title {
    font-size: 16px;
    margin-bottom: 1rem;
    line-height: 2rem;
}